model/finetune/artifacts/*.zip filter=lfs diff=lfs merge=lfs -text
model/finetune/saved_model_sample/*.safetensors filter=lfs diff=lfs merge=lfs -text
model/finetune/saved_model_sample/*.bin filter=lfs diff=lfs merge=lfs -text
